/* Estilo do cabeçalho */
#main-header {
  background-color: #203A45;
  height: 100px;

}

.page-header {
	text-align: center;
}

.navbar-brand {
	padding: 20px;
	font-size: 30px;
	
}


table {
	font-family: "Arial", Times New Roman, Times, serif;
	font-size: 12px;
	
	
}

.btn {
	width: 100px;
	height: 25px;
	padding: 2px;
	font-size: 12px;
}

/* rodapé */
.footer {
    position:absolute;
    width:100%;
	height: 45px;
	background-color: #203A45;
	font-size: 12px;
	text-align: center;
	color: white;
	padding: 10px;
	bottom: 0;
}

